@import url("../../Common/font/Font.css");

.room-container {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: center;
    margin-top : 10px;
    width : 1000px;
}

.room-top {
    margin-bottom : 20px;
    width : 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
